<%- include ("../partials/header") %>
<div class = songpage>
<div class="songcontainer">
    <p class="songtitle"><%-`${songTitle}`%></p>
    <p class="songartist"><%-`${songArtist}`%></p>
    <p class="songstreams"><%-`${songStreams}`%></p> 
</div>
</div>

<%- include ("../partials/footer") %>


   
